<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cinderblok.compotracker">

    <application
        android:allowBackup="true"
        android:icon="@drawable/duck"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.WeightChartActivity"
            android:label="@string/title_activity_weight_chart"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.PercentChartActivity"
            android:label="@string/title_activity_percent_chart"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>